#lifebodies {
    font-weight: bold;
}

.otherbody {
    width: 224px;
    height: auto;
}

#enceladus {
    height: 224px;
    width: auto;
}

#lifebg {
    background-image: url("../images/bg3.jpg");
}

#earthbg {
    background-image: url("../images/earthbg.jpg");
}

#marsbg {
    background-image: url("../images/marsbg.jpg");
}

#europabg {
    background-image: url("../images/bg3.jpg");
}

#enceladusbg {
    background-image: url("../images/enceladus_geyser.jpg");
    background: cover;
}

#titanbg {
    background-image: url("../images/titan2.jpg");
    background-size: 100% auto;
}

#titanmain {
    color: goldenrod;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blueviolet;
    opacity: .7;
    border-top: 2px solid goldenrod;
}

.subtext {
    color: turquoise;
    font-size: 1em;
}

.lifelist {
    list-style-type: square;
}
