.background1 {
    background-image: url("../images/bg1.jpg");
    height: 100%;
    background-size: cover;
}
.background2 {
    background-image: url("../images/bg2.jpg");
    height: 100%;
    background-size: cover;
}