.background1 {
    background-image: url("../images/bg1.jpg");
    height: 100%;
    background-size: cover;
}
.background2 {
    background-image: url("../images/bg3.jpg");
    height: 100%;
    background-size: cover;
}

.background3 {
    background-image: url("../images/galaxy.jpeg");
    height: 100%;
    background-size: cover;
}

.card-body {
    width: 100%
}

.graph-container {
    width: 100%;
    height: 650px;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

#graph-footer {
    color: #ffffff;
    background-color: #666666;
    flex-shrink: 0;
}

.container {
    min-height: 700px;
}

#modelBackdrop, #solarSystem, #foreground {
    position: absolute; 
    /* left: 0; 
    top: 0;  */
}

#modelBackdrop {
    z-index: 0;
}

#solarSystem {
    z-index: 1;
}

#foreground {
    z-index: 2;
}

#lifebodies {
    font-weight: bold;
}

.otherbody {
    width: 224px;
    height: auto;
}

#enceladus {
    height: 224px;
    width: auto;
}

#gallery {
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#pic {
    width: 20px;
    position: relative;
}

#coorbody {
    background-image: url("../images/bg2.jpg");
    background-size: 1600px 1200px;
}

#coor-container {
    background-color: white;
    opacity: .9;
    overflow: auto;
}

.graph-btn {
    width: 100px;
}

.graph-container {
    overflow: auto;
}

.graphtext {
    background: linear-gradient(#ffffff, #dddddd);
    border: 3px double gray;
    width: 80%;
}